.favorites{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 50%;
  overflow: auto;

  &__userListContainer {
    width: 100%;
    height: 150px
  }

  &__userListContainer {
    height: 100%;
  }

  &__userCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 0.5px solid black;
    margin: 0.2rem 0;
    cursor: move;
    cursor: grab;
  }

  &__removeButton{
    cursor: pointer;
  }
}
